# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WorkspacePython\python-programming-general\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
